/*RESET*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*GENERAL*/
* {
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: #f6f8f9;
}

/*HEADER*/
header {
    background-color: white;
    padding: 15px;
    margin-bottom: 50px;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.main-logo {
    vertical-align: middle;
}

/*CONTAINER*/
.container {
    width: 60%;
    margin: auto;
    background-color: white;
}

/*BUTTONS SECTION*/
.actions {
    padding: 15px 50px;
    border-bottom: 3px solid #f6f8f9;
}

.button {
    padding: 10px 20px;
    border-radius: 5px;
}

.task {
    background-color: #47adf1;
    border: 1px solid #47adf1;
    color: white;
}

.section {
    background-color: white;
    color:lightgrey;
    border: 1px solid lightgrey;
}

/*SECTIONS*/
.padding {
    padding: 15px 45px;
}

.category-row {
    margin-bottom: 25px;
}

.text {
    font-weight: bold;
    font-size: 25px;
    color: rgb(76, 78, 84);
    margin-bottom: 15px
}

.entity {
    width: 25px;
    height: 25px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
}

.check {
    border: 1px solid green;
    color: green;
}

.cross {
    border: 1px solid red;
    color: red;
}



.text-category {
    font-size: 20px;
    font-weight: 500;
    color: rgb(89, 92, 100);
}

.category {
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
}

.editioral {
    background-color: #47adf1;
}

.goals {
    background-color: purple;
}

.recruit {
    background-color: lightgreen;
}

.mobile {
    background-color: orange;
}

.homepage {
    background-color: pink;
}

.sales {
    background-color: greenyellow;
}